<h1>Mario's Products</h1>

<ul>
<% @top.each do |t| %>
  <li> <%= link_to t.name, product_path(t)%> </li>
<% end %>
</ul>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>
